--extra-index-url https://download.pytorch.org/whl/cpu
numpy<2.0.0
pandas
Pillow
scipy
plotly
reportlab
qrcode
streamlit==1.35.0
streamlit-drawable-canvas
opencv-python-headless
# Anclamos PyTorch 2.0.1 que es compatible con el archivo que vamos a descargar
torch==2.0.1
torchvision==0.15.2
# --- SOLUCIÓN FINAL: Enlace directo al archivo pre-compilado (.whl) ---
# Esto evita que el servidor intente "construir" y falle.
https://dl.fbaipublicfiles.com/detectron2/whl/cpu/torch2.0/detectron2-0.6-cp310-cp310-linux_x86_64.whl